<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.shine.dao"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:config/mybatis/SqlMapConfig.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <!-- 显式指定Mapper文件位置,这里说的mapper不是指java类，而是指对应的xml文件 -->
        <property name="mapperLocations">
            <list>
                <value>classpath*:/mapper/*.xml</value>
            </list>
        </property>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            pageSizeZero=true
                            offsetAsPageNum=true
                            params=pageNum=start;pageSize=limit;
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!--自动扫描mapper接口，并注入sqlsession-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.shine.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>